.msg {
    position: absolute;
    min-width: 22rem;
    right: 0;

    @media only screen and (max-width: 600px) {
        min-width: 12rem;
    }
}

.msg-box {
    border-radius: 15px 0 0 15px;
    background-color: lightgray;
    padding: 5px;
    padding-left: 1rem;
    font-size: 1rem;
    border-bottom: 3px solid red;
}

.message {
    font-weight: 600;
}