<div class="full">
    <div class="board">
        <table class="table">
            <tr>
                <td>
                    <div class="count">Remaining: {{hiddenDiamond}}</div>
                </td>
                <td>
                    <div class="btn-grp">
                        <div class="btn" (click)="restartGame()">Restart</div>
                        <div class="btn btn-center" (click)="saveGame()">Save</div>
                        <div class="btn" (click)="closeGame()">Close</div>
                    </div>
                </td>
            </tr>
            <tr class="row" *ngFor="let x of indexArray">
                <td class="cell" *ngFor="let y of indexArray" (click)="setClicked([x,y])">

                    <div *ngIf="!isTouched([x,y]); else openCell" class="unknown"></div>
                    <ng-template #openCell>
                        <div *ngIf="hasDiamond([x,y]); else showHint" class="diamond"></div>
                        <ng-template #showHint>
                            <div class="empty">
                                <i *ngIf="isLastClicked([x,y])" class="{{arrowDirection}}"></i>
                            </div>
                        </ng-template>
                    </ng-template>
                </td>
                <br>
            </tr>
        </table>
    </div>
</div>
