<table>
    <tr *ngFor="let x of indexArray">
        <td *ngFor="let y of indexArray" (click)="setClicked([x,y])">
            <div *ngIf="isTouched([x,y]); else showUnTouched">
                <div *ngIf='hasDiamond([x,y]); else showUnknown' class="diamond"></div>
                <ng-template #showUnknown>
                    <div class="empty">
                        <i *ngIf="isLastClicked([x,y])" class="{{arrowDirection}}"></i>
                    </div>
                </ng-template>
            </div>
            <ng-template #showUnTouched>
                <div class="unknown"></div>
            </ng-template>
        </td>
    </tr>
</table>
