/* You can add global styles to this file, and also import other style files */

html {
    background: #eeeeee;
}

body {
    position: relative;
    width: 100%;
    margin: 2vh;
}

.msg {
    position: absolute;
    top: 40%;
    width: 74%;
    right: 0;
}

.msg-box {
    border-radius: 9px;
    background-color: lightgray;
    padding: 5px;
    font-size: 23px;
    margin: 0;
    max-width: 57%;
    border-bottom: 3px solid red;
}

.message {
    font-weight: 600;
}